.dual-ring-loader{
  position:relative;
  width:72px;
  height:72px;
}

.dual-ring-loader span{
  position:absolute;
  border-radius:50%;
}

.dual-ring-loader span:first-child{
  inset:0;
  border:5px solid transparent;
  border-top-color:#22d3ee;
  border-right-color:#22d3ee;

  animation:dualRingOuter 1s linear infinite;
}

.dual-ring-loader span:last-child{
  inset:12px;
  border:5px solid transparent;
  border-bottom-color:#8b5cf6;
  border-left-color:#8b5cf6;

  animation:dualRingInner .8s linear infinite;
}

@keyframes dualRingOuter{
  to{
    transform:rotate(360deg);
  }
}

@keyframes dualRingInner{
  to{
    transform:rotate(-360deg);
  }
}
